.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

label {
    font-size: 16px;
    font-weight: bold;
}

input[type="text"] {
    width: 50px;
    height: 30px;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

button {
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}